/* Reset */
@import url('./reset.css');
@import url('./modal.css');
html {
    scroll-behavior: smooth;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

[id*=content] {
  position: relative;
  /* height: calc(100vh - 80px);
  margin-top: 80px; */
}
.sub-title {
  padding: 80px 0 15px;
  text-align: center;
  font-size: var(--sub-title-size);
  font-weight: 800;
  color: var(--main-color);

  /* opacity: 0; */
}
.sub-title-desc {
  padding-bottom: 60px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--sub-title-desc-size);
  font-weight: 400;
  text-align: center;
  color: var(--light-gray);
}
.sub-title.active {
  animation: moveTop 0.8s ease forwards;
}
.active .sub-title-desc {
  animation: moveTop 0.8s 0.8s ease forwards;
}

/* ==== Main Navigation ==== */
#main-content {
  /* height: calc(100vh - 80px);
  margin-top: 80px; */
  height: 100vh;
  padding-top: 80px;
}
.main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.main-nav.active {
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.main-nav p {
  color: var(--main-color);
  font-size: 19px;
}
.main-nav ul {
  display: flex;
  gap: 30px;
}
.main-nav ul a {
  color: var(--light-gray);
  font-size: 19px;

  transition: color 0.3s;
}
.main-nav ul a:hover {
  color: var(--main-color);
}
.main-nav ul li.active a {
  color: var(--main-color);
}
/* scroll txt */
.scroll-txt {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 0px;
  transform: translateY(-50%)rotate(-90deg);

  color: var(--main-color);
}
.scroll-txt em {
  animation: blinkArrow 2.5s linear infinite;
}
/* Scroll up */
.scroll-up {
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  opacity: 0;
  transition: opacity 0.2s;
}
.scroll-up.active {
  opacity: 1;
}
.scroll-up i {
  font-size: 0;
  color: var(--main-color);
}
.scroll-up i::before {
  font-size: 50px;
}

/* ==== Main article ==== */
.main-title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
.main-sub-title-up {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.main-sub-title-up p {
  width: 30%;
  font-size: 25px;
  color: var(--main-color);
  letter-spacing: 0.5px;
}
.main-sub-title-up .bar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.main-sub-title-up .bar-inner {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.main-title p {
  font-family: 'Khyay';
  font-size: 200px;
  color: var(--main-color);
}
.main-sub-title-down {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-sub-title-down::before {
  content: '';
  position: absolute;
  top: -20px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--main-color);
  border-radius: 20px;
}
.main-sub-title-down span {
  font-size: 25px;
  color: var(--main-color);
}

/* ==== Banner Article ==== */
#banner-content {
  background-color: var(--main-color);
  height: 500px;
  font-size: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==== Profile Article ==== */
.profile-inner {
  padding-bottom: 12em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.profile-img-box {
  width: 360px;
}
.profile-img {
  width: inherit;
  height: inherit;
}
.profile-img img {
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.profile-img-box .profile-btm-img {
  width: 100%;
  margin-top: -55px;
}
.profile-txt-box {
  font-family: 'Noto Sans KR', sans-serif;
}
.profile-txt-box .name-box {
  margin-bottom: 10px;
}
.profile-txt-box .name-kr {
  display: inline-block;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
}
.profile-txt-box .name-en {
  display: inline-block;
  font-size: var(--normal-txt-size);
  font-weight: 500;
  color: var(--normal-txt-color);
}
.keywords {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 15px;
  color: #fff;
  font-size: var(--normal-txt-size);
  font-weight: 400;
  letter-spacing: 1.5px;
  background-color: var(--main-color);
}
.profile-list {
  font-size: var(--normal-txt-size);
}
.profile-list li {
  margin-bottom: 20px;
}
.profile-list li dt {
  font-size: 18px;
  font-family: 'Khyay';
  color: var(--main-color);
}
.profile-list li dd {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: var(--normal-txt-color);
  margin: 3px 0;
}
.profile-list li dd::before {
  padding-left: 2px;
  content: '· ';
}
/* profile-skill-list */
.skill-list dd {
  display: inline-block;
  color: var(--main-color);
}
.skill-list .skill-icon {
  display: inline-block;
  transform: translateY(3px);
  margin-right: 2px;
}
.skill-list .skill-icon img {
  width: 20px;
  height: 20px;
}
.skill-list dd span {
  padding-right: 20px;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--normal-txt-color);
}
.skill-list dd img {
  filter: invert(13%) sepia(60%) saturate(5245%) hue-rotate(218deg) brightness(97%) contrast(103%);
  border-radius: 2px;
}

/* ==== Development Article ==== */
#development-content {
  background-color: var(--cloudy-gray);
  padding-bottom: 8em;
}
.development-inner {
  width: 100%;
  overflow: hidden;
}
.works-items-menu {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  gap: 15px;
}
.works-items-menu span.menu-line {
  transform: translateY(3px);
  font-size: 12px;
  color: var(--light-gray);
}
.works-items-menu li {
  color: var(--light-gray);
}
.works-items-menu li:last-child::after{
  content: '';
}
.works-items-menu li span {
  padding-bottom: 3px;
  font-size: var(--normal-txt-size);
  color: var(--light-gray);

  cursor: pointer;
}
.works-items-menu li.active span {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
}
.development-items {
  width: 100%;
  height: auto;

}
.development-item {
  /* margin: 0 auto; */
  /* max-width: 1200px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.development-item-img {
  /* flex: 1.2; */
}
.development-item-img img {
  width: 550px;
  /* width: 100%; */
}
.development-item-desc {
  /* flex: 1; */
}
.project {
  font-family: 'Noto Sans KR', sans-serif;
}
.project-name {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 700;
  color: var(--main-color);
}
.project-desc {
  margin-bottom: 25px;
  font-size: var(--normal-txt-size);
  font-weight: 500;
  color: var(--normal-txt-color);
}
.project-desc span {
  padding-top: 3px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.project-detail {
  margin-bottom: 25px;
}
.project-detail p {
  margin-bottom: 5px;
  font-size: var(--normal-txt-size);
  font-weight: 700;
  color: var(--main-color);
}
.project-detail em {
  margin: 0 3px 0 2px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(1px);
  border-radius: 50%;
  border: 1px solid #999;

  background-color: #999;
}
.project-detail span {
  font-weight: 500;
  color: var(--normal-txt-color);
}
.project-link-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 160px;
  height: 40px;
  border: 2px solid var(--main-color);

  cursor: pointer;
  transition: 0.3s;
}
.project-link-btn a {
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 40px;
  color: var(--main-color);
}
.project-link-btn:hover {
  background-color: var(--main-color);
}
.project-link-btn:hover a {
  color: #fff;
}

/* ==== Design Article ==== */
#design-content {
  padding-bottom: 12em;
}
.works-item {
  width: calc(250px*4 + 20px*3);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.item {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 7px rgba(30, 30, 30, 0.2);
  /* border-radius: 4px; */
}
.item.invisible {
  display: none;
}
.item img {
  width: inherit;
  height: inherit;
  border-radius: 4px;
}
.item .item-detail {
  position: absolute;
  /* top: 100%; */
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  transition: opacity 0.4s;
}
.item:hover .item-detail {
  opacity: 1;
}
.item .item-detail h4 {
  padding: 0 20px;
  font-size: 20px;
  text-align: center;
  word-break: keep-all;
}
/* .item .item-detail h4::before {
  content: '[';
  display: inline-block;
  padding-right: 5px;
  transform: translateY(-1.5px);
}
.item .item-detail h4::after {
  content: ']';
  display: inline-block;
  padding-left: 5px;
  transform: translateY(-1.5px);
} */
.item .item-detail p {
  margin: 15px 0;
}
.item .item-detail button {
  padding: 7px 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;

  transition: 0.3s;
  cursor: pointer;
}
.item .item-detail button:hover {
  background-color: #fff;
  color: #000;
}
.item-desc {
  display: none;
  opacity: 0;
}

/* ==== Footer ==== */
footer {
  height: 130px;
  background-color: var(--dark-gray);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
footer .upper-txt {
  margin-bottom: 12px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
footer .bottom-txt {
  font-size: 15px;
  font-weight: 400;
  color: #999;
}
